@import "tailwindcss";
@import "tw-animate-css";

@source "./components/**/*.{ts,tsx}";
@source "../../apps/dashboard/**/*.{ts,tsx}";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.97 0 0);
  --foreground: oklch(0.3211 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.3211 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.3211 0 0);
  --primary: oklch(0.723 0.219 149.579);
  --primary-foreground: oklch(0.2848 0.0455 161.9329);
  --secondary: oklch(0.696 0.17 162.48);
  --secondary-foreground: oklch(0.274 0.006 286.033);
  --muted: oklch(0.627 0.194 149.214);
  --muted-foreground: oklch(0.205 0 0);
  --accent: oklch(0.448 0.119 151.328);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.708 0 0);
  --input: oklch(0.708 0 0);
  --ring: oklch(0.723 0.219 149.579);
  --chart-1: oklch(0.7179 0.201 147.9565);
  --chart-2: oklch(0.6777 0.1702 261.2919);
  --chart-3: oklch(0.8574 0.1219 212.4954);
  --chart-4: oklch(0.6063 0.1366 247.6783);
  --chart-5: oklch(0.6698 0.2059 145.7768);
  --sidebar: oklch(0.982 0.018 155.826);
  --sidebar-foreground: oklch(0.3211 0 0);
  --sidebar-primary: oklch(0.448 0.119 151.328);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.971 0.013 17.38);
  --sidebar-border: oklch(0.8699 0 0);
  --sidebar-ring: oklch(0.7179 0.201 147.9565);
  --font-sans: Inter, sans-serif;
  --font-serif: Inter, sans-serif;
  --font-mono: Inter, sans-serif;
  --radius: 0.75rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.205 0 0);
  --foreground: oklch(1 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.971 0.013 17.38);
  --popover: oklch(0.274 0.006 286.033);
  --popover-foreground: oklch(0.971 0.013 17.38);
  --primary: oklch(0.792 0.209 151.711);
  --primary-foreground: oklch(0.147 0.004 49.25);
  --secondary: oklch(0.21 0.006 285.885);
  --secondary-foreground: oklch(0.723 0.219 149.579);
  --muted: oklch(0.508 0.118 165.612);
  --muted-foreground: oklch(1 0 0);
  --accent: oklch(0.696 0.17 162.48);
  --accent-foreground: oklch(0.145 0 0);
  --destructive: oklch(0.637 0.237 25.331);
  --destructive-foreground: oklch(0 0 0);
  --border: oklch(0.3715 0 0);
  --input: oklch(0.3867 0 0);
  --ring: oklch(0.792 0.209 151.711);
  --chart-1: oklch(0.7179 0.201 147.9565);
  --chart-2: oklch(0.6063 0.1366 247.6783);
  --chart-3: oklch(0.6777 0.1702 261.2919);
  --chart-4: oklch(0.8574 0.1219 212.4954);
  --chart-5: oklch(0.6698 0.2059 145.7768);
  --sidebar: oklch(0.269 0 0);
  --sidebar-foreground: oklch(0.9219 0 0);
  --sidebar-primary: oklch(0.627 0.194 149.214);
  --sidebar-primary-foreground: oklch(0.1776 0 0);
  --sidebar-accent: oklch(0.439 0 0);
  --sidebar-accent-foreground: oklch(0.9219 0 0);
  --sidebar-border: oklch(0.3867 0 0);
  --sidebar-ring: oklch(0.7179 0.201 147.9565);
  --font-sans: Inter, sans-serif;
  --font-serif: Inter, sans-serif;
  --font-mono: Inter, sans-serif;
  --radius: 0.75rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

#signature {
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  animation: sign-loop 17s ease infinite;
}

@keyframes sign-loop {
  0% {
    stroke-dashoffset: 100;
  }
  23.5% {
    stroke-dashoffset: 0;
  }
  70.6% {
    stroke-dashoffset: 0;
  }
  94.1% {
    stroke-dashoffset: 100;
  }
  100% {
    stroke-dashoffset: 100;
  }
}

/* scrollbar properties */

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgb(163 163 163 / var(--tw-bg-opacity, 1));
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(212 212 212 / var(--tw-bg-opacity, 1));
}
