---
import Logo from "@/assets/signature.svg";
import HeaderIcons from "./HeaderIcons.astro";
---

<header class="flex items-center justify-between px-8 py-2">
  <a href="/">
    <Logo class="group size-12" />
  </a>
  <HeaderIcons />
</header>
