---
import Layout from "@/layouts/main.astro";
import trpc from "@/trpc/client";
import { ArrowLeft } from "lucide-react";
import { format } from "date-fns";
import MarkdownEditor from "@repo/ui/components/MarkdownEditor";
import TagsList from "@/components/TagsList";

export async function getStaticPaths() {
  const posts = await trpc.posts.findAllPublished.query();

  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;

const postTags = await trpc.tags.findAllTagsForPublishedPost.query({
  postSlug: post.slug,
});
---

<Layout title={post.title}>
  <main
    class="flex flex-1 flex-col items-center justify-start py-2"
    transition:animate="slide"
  >
    <section
      class="flex w-1/2 flex-col items-center justify-center gap-8 pt-8 max-xl:w-2/3"
    >
      <a
        href="/blog"
        class="hover:text-primary flex items-center justify-center gap-1 text-base opacity-60 hover:underline self-start"
      >
        <ArrowLeft size={16} />
        <span>Back to posts</span>
      </a>

      <article class="flex flex-col gap-7 w-full">
        <div>
          <MarkdownEditor
            markdown={`# ${post.title}\n ${post.publishDate ? format(post.publishDate, "MMM dd, yyyy") : ""}`}
            classNames={{ p: "text-neutral-500" }}
            client:load
          />
        </div>

        <div class="flex flex-col gap-5">
          <div class="flex flex-col opacity-95">
            <MarkdownEditor
              markdown={`${post.content}`}
              classNames={{ inlineCode: "bg-input/70" }}
              client:load
            />
          </div>

          <TagsList postTags={postTags} client:load />
        </div>
      </article>
    </section>
  </main>
</Layout>
