---
import Layout from "@/layouts/main.astro";
import { CircleSmall } from "lucide-react";
import trpc from "@/trpc/client";
import { format } from "date-fns";

const posts = await trpc.posts.findAllPublished.query();
---

<Layout title="Blog | Friedrich WT">
  <main class="flex flex-1 items-start justify-center py-2">
    <section
      class="flex w-1/2 flex-col items-center justify-center gap-12 pt-8 max-xl:w-2/3 max-sm:w-[90%]"
    >
      <h1 class="w-full text-start text-4xl font-extrabold">Posts</h1>
      {
        posts.length === 0 ? (
          <p class="text-center text-xl">No posts yet</p>
        ) : (
          <ul class="text-foreground/75 dark:text-foreground/60 flex flex-col gap-y-8 self-start text-lg">
            {posts.map((post) => (
              <li class="hover:text-primary/95 dark:hover:text-primary/75 w-full cursor-pointer text-start">
                <a class="flex gap-2" href={`/blog/${post.slug}/`}>
                  <CircleSmall className="shrink-0" />
                  <div class="space-x-4">
                    <span>{post.title}</span>
                    <span class="opacity-70 dark:opacity-50">
                      {post.publishDate
                        ? format(post.publishDate, "MMM dd, yyyy")
                        : ""}
                    </span>
                  </div>
                </a>
              </li>
            ))}
          </ul>
        )
      }
    </section>
  </main>
</Layout>
