---
import { Button } from "@/components/ui/button";
import Layout from "@/layouts/main.astro";
---

<Layout>
  <div class="grid h-screen place-items-center content-center">
    <p class="text-4xl text-green-500">Content</p>
    <Button className="text-green-500">Shadcn</Button>
  </div>
</Layout>
