---
import Layout from "@/layouts/main.astro";
import trpc from "@/trpc/client";

const greeting = await trpc.getHello.query({
  name: "Friedrich",
});
---

<Layout>
  <main class="grid h-screen place-items-center content-center">
    <p class="text-4xl">Portfolio</p>
    {greeting}
  </main>
</Layout>
