---
import { Button } from "@repo/ui/components/ui/button";
import Layout from "@/layouts/main.astro";
---

<Layout title="Friedrich WT | Blog">
  <main class="flex h-screen flex-col items-center justify-center">
    <p class="text-4xl">Content</p>
    <Button className="">Shadcn</Button>
  </main>
</Layout>
