---
import Logo from "@/assets/signature.svg";
import HeaderIcons from "./HeaderIcons.astro";
import Navbar from "./Navbar.astro";
import SideBar from "./SideBar";

const pathname = Astro.url.pathname;
---

<header class="flex items-center justify-between gap-12 px-8 py-2">
  <a href="/" aria-label="logo">
    <Logo class="hover:text-primary size-12" />
  </a>
  <Navbar />
  <SideBar client:load pathname={pathname} />
  <HeaderIcons />
</header>
