---
import { HEADER_LINKS } from "@/constants";
import { ModeToggle } from "./mode-toggle";
---

<div class="flex items-center justify-center gap-4">
  <div class="flex items-center justify-center gap-4 max-[34.5rem]:hidden">
    {
      HEADER_LINKS.map(({ Icon, link, title }) => (
        <a href={link} target="_blank" rel="noopener noreferrer" title={title}>
          <Icon size={20} className="hover:text-primary" />
        </a>
      ))
    }
  </div>
  <ModeToggle client:load />
</div>
