---
import { NAVBAR_LINKS } from "@/constants";
import { cn } from "@repo/ui/lib/utils";
const pathName = Astro.url.pathname;

const navItems = NAVBAR_LINKS.map((entry) => ({
  ...entry,
  className: cn(
    "hover:text-foreground",
    pathName.includes(entry.link) && "text-primary hover:text-primary",
  ),
}));
---

<nav class="text-foreground/50 flex flex-1 max-[28.25rem]:hidden">
  <ul class="flex w-full items-center justify-end gap-4">
    {
      navItems.map((entry) => (
        <li class={entry.className}>
          <a href={entry.link} class="h-full">
            {entry.text}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
